# Backend API URL
# Local development
VITE_API_BASE_URL=http://localhost:3001

# Stage environment
# VITE_API_BASE_URL=https://api-stage.shribankebiharimaheshwar.com

# Production environment
# VITE_API_BASE_URL=https://api.shribankebiharimaheshwar.com
